*,
*::after,
*::before {
  box-sizing: border-box;
}

body {
  font-family: Arial, Helvetica, sans-serif;
  color: #283c46;
  background-color: black;
}

.container {
  background-color: #ddd;
  width: 95%;
  max-width: 400px;
  margin: 10px auto;
  border-radius: 10px;
  padding: 5px;
}

h1,
p {
  text-align: center;
}

p {
  font-weight: bold;
}

form {
  margin: 10px auto;
  max-width: 400px;
  padding: 20px 12px 10px 20px;
  display: block;
}

label {
  margin: 0 0 3px 0;
  padding: 0px;
  font-weight: bold;
}

label.demo-data {
  width: 100px;
  display: inline-block;
}

input[type="text"],
input[type="number"],
input[type="checkbox"],
input[type="email"],
textarea,
select {
  border: 1px solid #bebebe;
  padding: 7px;
  margin: 2px;
}
input[type="text"]:focus,
input[type="number"]:focus,
input[type="checkbox"]:focus,
input[type="email"]:focus,
textarea:focus,
select:focus {
  box-shadow: 0 0 8px #88d5e9;
  border: 1px solid #88d5e9;
}

legend {
  text-align: center;
}

fieldset {
  margin: 2rem auto;
  text-align: center;
}

fieldset label {
  margin: auto 10px;
}

button {
  background: #4b99ad;
  padding: 8px 15px 8px 15px;
  border: none;
  color: #fff;
}
button:hover {
  background: #4691a4;
  box-shadow: none;
  -moz-box-shadow: none;
  -webkit-box-shadow: none;
}

@media screen and (min-width: 768px) {
  body {
    background-color: black;
  }
}
